---
layout: handbook-page-toc
title: "CI Data Partitioning - Weekly Project Plan"
description: "The CI Data Partitioning Weekly Project Plan - Pipeline Execution Group."
---


## CI Data Partitioning - Weekly Project Plan

[//]: # (### Estimated Iteration Completion Milestones
[//]: # (- 16.6: ci_builds and ci_builds_metadata partitions in use
[//]: # (- 16.7: ci_builds and ci_builds_metadata partition rebalancing completed
[//]: # (- 16.10: ci_job_artifacts partitions in use
[//]: # (- 16.11: ci_stages partitions in use
[//]: # (- 17.0: ci_pipeline_variables partitions in use
[//]: # (- 17.1: primary key conversion to bigint for ci_pipelines completed
[//]: # (- 17.4: ci_pipelines partitions in use

<details>
    <summary markdown="span">Archive</summary>

### Week of August 7, 2023

#### Team Capacity:

- 2 BE + ? DB

#### Goals:

##### Bigint conversion
- [x] Verify foreign key backfill progress for `ci_pipelines.auto_canceled_by_id`
- [x] Merge MR to init conversion for `ci_sources_pipelines.pipeline_id` and `ci_sources_pipelines.source_pipeline_id`
- [~] Sync create index for `ci_pipeline_messages.pipeline_id` (moved to 16.4 and it's under ~"workflow::in review")

### Week of August 14, 2023

#### Team Capacity:

- 2 BE

#### Goals:

##### Bigint conversion
- [x] Verify foreign key backfill progress for `ci_pipelines.auto_canceled_by_id`, `ci_sources_pipelines.pipeline_id` and `ci_sources_pipelines.source_pipeline_id`
- [~] Create foreign key constraint for `ci_pipeline_messages.pipeline_id` and swap the columns (moved to 16.4)

##### ci_builds
- [x] Merge [MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/122919) to use routing table
- [x] Merge [MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/125002) fo ensure id uniqueness across partitions
- [x] Confirm execution of [MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/125002) on .com or retry in case of failure(autovacuum conflict is still an option)


### Week of August 21, 2023

#### Team Capacity:

- 2 BE

#### Goals:

##### Bigint conversion
- [x] Verify foreign key backfill progress for `ci_pipelines.auto_canceled_by_id`, `ci_sources_pipelines.pipeline_id` and `ci_sources_pipelines.source_pipeline_id`
- [~] Async create index for `ci_pipeline_chat_data.pipeline_id` and `ci_stages.pipeline_id` (under ~"workflow::in review")

##### ci_builds
- [~] Fix caching issue blocking enabling use of routing table
- [~] Reintroduce migration for self-managed for ensuring uniqueness of ids across partitions

### Week of  August 28, 2023

#### Team Capacity:

- 1 BE (Note: Marius focused on customer escalation)

#### Goals:

##### Bigint conversion
- [x] Verify foreign key backfill progress for `ci_pipelines.auto_canceled_by_id`
- [x] Async create index for `ci_sources_pipelines.pipeline_id` and `ci_sources_pipelines.source_pipeline_id` (max 2 index creation per week)


### Week of September 4, 2023

#### Team Capacity:

- 1 BE (Note: Marius focused on customer escalation)

#### Goals:

##### Bigint conversion
- [~] Async create index for `ci_pipelines.auto_canceled_by_id` (MR deployed, need to verify)
- [x] Sync create index for `ci_pipeline_chat_data.pipeline_id`
- [x] Foreign key for `ci_pipeline_chat_data.pipeline_id`
- [x] Sync create index for `ci_pipeline_messages.pipeline_id`
- [x] Create foreign key constraint for `ci_pipeline_messages.pipeline_id` and swap the columns
- [x] Async create index for `ci_pipeline_chat_data.pipeline_id` and `ci_stages.pipeline_id`
- [~] Sync create index for `ci_stages.pipeline_id` (need to wait for the async index creation)
- [~] Create foreign key constraint for `ci_stages.pipeline_id`
- When postgres has upgraded to 14, init conversion for: (PG for main is still at 12.9, need to wait for the upgrade)
    - [~] p_ci_builds.auto_canceled_by_id
    - [~] p_ci_builds.upstream_pipeline_id
    - [~] p_ci_builds.commit_id

##### ci_builds
- [~] [Analyze partitioned parent tables on a schedule](https://gitlab.com/gitlab-org/gitlab/-/issues/423135)
- [~] [Manually analyze `p_ci_builds` and `p_ci_builds_metadata`](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/129812#note_1527675793)
- [~] Deploy the [table name switch to canary](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/129812) and confirm there are no more timeouts

### Week of September 11, 2023

#### Team Capacity:

- 2 BE

#### Goals:

##### Bigint conversion

- [~] Sync create index and foreign key constraint, and swap for `ci_pipelines.auto_canceled_by_id` (index)
- [~] Sync create index and foreign key constraint, and swap for `ci_sources_pipelines.pipeline_id` and `ci_sources_pipelines.source_pipeline_id`
- [x] Async create index for `ci_pipelines.auto_canceled_by_id` (MR deployed, need to verify)
- [x] Sync create index for `ci_stages.pipeline_id` (need to wait for the async index creation)
- When postgres has upgraded to 14 (this happened on Sep 12), init conversion for:
  - [~] p_ci_builds.auto_canceled_by_id
  - [~] p_ci_builds.upstream_pipeline_id
  - [~] p_ci_builds.commit_id

##### ci_builds
- [~] Fix caching issue blocking enabling use of routing table
- [~] Enable query analyzers: [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/398134)

</details>

## Milestone 16.5 (September 18, 2023 - October 16, 2023)

### Week of September 18, 2023

#### Team Capacity:

- 2 BE

#### Goals:

##### Bigint conversion

##### ci_builds
- [x] [Manually analyze `p_ci_builds` and `p_ci_builds_metadata`](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/129812#note_1527675793)
- [x] Deploy the [table name switch to canary](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/129812) and confirm there are no more timeouts


### Week of September 25, 2023

#### Team Capacity:

- 2 BE

#### Goals:

##### Bigint conversion
- [ ] Run analyze on partitioned tables
- [ ] Helper and documentation for swapping columns

##### ci_builds
- [ ] [Analyze partitioned parent tables on a schedule](https://gitlab.com/gitlab-org/gitlab/-/issues/423135)
- [ ] Enable query analyzers: [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/398134)
- [ ] Fix caching issue blocking enabling use of routing table

### Week of October 2, 2023

#### Team Capacity:

- 2 BE

#### Goals:

##### Bigint conversion


##### ci_builds
- [ ] Add partition_id filters to necessary related queries

### Week of October 9, 2023

#### Team Capacity:

- 2 BE

#### Goals:

##### Bigint conversion


##### ci_builds
- [ ] Switch the table name on the entire fleet

### Week of October 16, 2023

#### Team Capacity:

- 2 BE

#### Goals:

##### Bigint conversion

##### ci_builds
- [ ] Reintroduce migration for self-managed for ensuring uniqueness of ids across partitions

##### ci_builds_metadata
- [ ] Switch writes to second partition: [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/387810)

##### Bigint conversion
- For `ci_pipelines.auto_canceled_by_id`
  - [ ] Sync create index
  - [ ] Async create foreign key constraint
  - [ ] Sync validate foreign key constraint
  - [ ] Swap columns
- For `ci_sources_pipelines.pipeline_id` and `ci_sources_pipelines.source_pipeline_id`
  - [ ] Sync create index
  - [ ] Async create foreign key constraint
  - [ ] Sync validate foreign key constraint
  - [ ] Swap columns
- For `ci_pipeline_chat_data.pipeline_id`
  - [ ] Swap columns
- For `ci_pipeline_variables.pipeline_id`
  - [ ] Swap columns
- For `ci_stages.pipeline_id`
  - [ ] Async create foreign key constraint
  - [ ] Sync validate foreign key constraint
  - [ ] Swap columns
- For `ci_pipeline_messages.pipeline_id`
  - [ ] Sync validate foreign key constraint
  - [ ] Swap columns
- Init conversion for:
  - [ ] p_ci_builds.auto_canceled_by_id
  - [ ] p_ci_builds.upstream_pipeline_id
  - [ ] p_ci_builds.commit_id

### Milestone 16.6 (October 17, 2023 - November 10, 2023)

#### Team Capacity:

- 2 BE

#### Goals:

##### Bigint conversion
- Remove the triggers and integer columns for:
    - [ ] ci_sources_pipelines.pipeline_id
    - [ ] ci_sources_pipelines.source_pipeline_id
    - [ ] ci_pipeline_chat_data.pipeline_id
    - [ ] ci_pipeline_messages.pipeline_id
    - [ ] ci_stages.pipeline_id
    - [ ] ci_pipeline_variables.pipeline_id
    - [ ] ci_pipelines.auto_canceled_by_id

##### ci_builds
- [ ] Remove feature flag for using routing table
- [ ] Add partition_id filters to all related queries
- [ ] Switch writes to second partition: [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/387810)
- [ ] Split existing original partition into smaller partitions

##### ci_builds_metadata
- [ ] Split existing original partition into smaller partitions

##### ci_build_artifacts
- TBD

### Milestone 16.7 (November 13, 2023 - December 8, 2023)

#### Team Capacity:

- 2 BE

#### Goals:

##### Bigint conversion
- Remove the ignore rules for:
    - [ ] ci_sources_pipelines.pipeline_id
    - [ ] ci_sources_pipelines.source_pipeline_id
    - [ ] ci_pipeline_chat_data.pipeline_id
    - [ ] ci_pipeline_messages.pipeline_id
    - [ ] ci_stages.pipeline_id
    - [ ] ci_pipeline_variables.pipeline_id
    - [ ] ci_pipelines.auto_canceled_by_id
- Create indexes and/or foreign key constraint and swap columns for:
    - [ ] p_ci_builds.auto_canceled_by_id
    - [ ] p_ci_builds.upstream_pipeline_id
    - [ ] p_ci_builds.commit_id


##### ci_build_artifacts
- TBD

### Milestone 16.8 (December 11, 2023 - January 12, 2024)

#### Team Capacity:

- 2 BE

#### Goals:


    
##### Bigint conversion
- Remove the triggers and integer columns for:
    - [ ] p_ci_builds.auto_canceled_by_id
    - [ ] p_ci_builds.upstream_pipeline_id
    - [ ] p_ci_builds.commit_id
- [ ] Swap columns for ci_pipelines.id


##### ci_build_artifacts
- TBD

##### ci_stages
- TBD

### Milestone 16.9 (January 15, 2024 - February 9, 2024)

#### Team Capacity:

- 2 BE

#### Goals:

##### Bigint conversion
- Remove the ignore rules for:
    - [ ] p_ci_builds.auto_canceled_by_id
    - [ ] p_ci_builds.upstream_pipeline_id
    - [ ] p_ci_builds.commit_id
- [ ] Remove the triggers and integer columns for ci_pipelines.id


##### ci_stages
- TBD

##### ci_pipelines
- TBD

### Milestone 16.10 (February 12, 2024 - March 8, 2024)

#### Team Capacity:

- 2 BE

#### Goals:

##### Bigint conversion
- [ ] Remove the ignore rules for ci_pipelines.id

##### ci_pipeline_variables
- TBD

### Milestone 16.11 (March 11, 2024 - April 12, 2024)


#### Team Capacity:

- 2 BE

#### Goals:

##### ci_pipelines
- TBD

##### ci_pipeline_variables
- TBD

### Milestone 17.0 (April 15, 2024 - May 10, 2024)

#### Team Capacity:

- 1 BE (Note: Tian will be frontline responder this milestone, so only Marius is focused on this project)

#### Goals:

- Create partition manager to dynamically create partitions: [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/389234)
- Re-balance partitions so every partition will use less than 100GB of storage

### Milestone 17.1 (May 13, 2024 - June 14, 2024)

#### Team Capacity:

- 2 BE

#### Goals:

- All self-managed to configure partition manager with their own rules for creating new partitions
